










  
main{
    display: flex; 
    font-family: 'Roboto', sans-serif;}

main form{
display: flex;
flex-direction: column;
gap: 3vh;
width: 100px;
align-items: center;
margin-left: 200px;
margin-top: 25px;
font-size: 14px;
}

main form .inputContainer input, select 
{
    width: 250px;
    height: 30px;
    background-color: rgba(6, 6, 148, 0.772);
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
}
.origen
{
    width: 250px;
    height: 30px;
    background-color: rgba(197, 197, 225, 0.845);
    color: rgb(19, 15, 15);
    margin-top: 5px;
    border-radius: 5px;
 }


.boton-enviar {
width: 130px;
height: 30px;
background-color: rgba(6, 6, 148, 0.772);
color: white;
margin-top: 25px;
border-radius: 5px;   }